body
{
	font-family: 'Open Sans',sans-serif;
	background-image: url("Images/9.jpg");
}
input,span
{
	font-size: 15px;
}
#box
{
	width: 60%;
	height: 930px;
	background-color: #c1d3fe;
	margin:2% auto;
	border-radius: 20px;
	box-shadow: 1px 9px 24px 2px #888;
}
#subbox 
{
	float: left;
	width: 430px;
	height: 690px;
	background-color: #c1d3fe;
	margin:2% 2% 3% 3%;
	border-radius: 20px;
}
#heading
{
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
	height:110px;
	text-align:center;
	background-color: #fff2f1;
}
#logo
{
	float:left;
	margin:14px;
}

#topic
{
	align-items: right;
	justify-content: space-evenly;
	color:#3a3335;
}
#sub
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:40px;
	background-color: #3a3335;
	color:#fff2f1;
}
#block
{
	margin:auto;
	align-items: center;
	width:85%;
	background-color:#fae0e4;
	border-radius: 20px;
	padding:12px;
}
#foot
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:40px;
	background-color: #3a3335;
	color:#fff2f1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#block:hover
{
	background-color:#ee4f64;
}
#block:active
{
	background-color:#EDD892
}
input
{
	width:80%;
}